*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-main: rgb(48, 48, 102);
  --color-text: rgba(48, 48, 102,0.65);
  --color-white:#e3dfdf;
}

